body {
    font-family: 'Rubik', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
input{
    color: white;
    font-weight: bold;
    margin-right: 20px;
    background-color: #333;
    border:none;
}
.container-fo {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}