
body {
    user-select: none;
    font-family: Arial, sans-serif;
    background-color: #3694d1;
}
header{
    padding: 2%;
    background-color: #ffffff;
}
.main-conteiner{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.left {
    width: 60%;
    background-color: #043c61;
    border-radius: 8px;
    margin-right: 1%;
}
.right {
    width: 40%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру */
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
form {
    margin-bottom: 20px;
}
.category {
    width: 30%;
    height: 30%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color:#01d9a8;
    cursor: pointer;
    color: white;
    border-radius: 16px; /* Скругление углов */
    background-repeat: no-repeat;
    text-align: center;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category:hover {
    background-color: #f2f2f2;
}
.products {
    display: none;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff;
    transition: background-color 0.2s;
    border-radius: 16px; /* Скругление углов */
}
.product img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.product-info {
    flex: 1;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Фиксированная ширина столбцов */
    border-radius: 16px;
}

.order-table td {
    border: 1px solid #dddddd; /* или другой цвет границы */
    padding: 8px; /* или другой отступ внутри ячейки */
    text-align: center;
    overflow: hidden; /* Обрезка содержимого ячейки */
    white-space: nowrap; /* Предотвращение переноса строки внутри ячейки */
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    border-color: black;
    border: 12px;
    border-radius: 8px; /* Скругление углов */
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}
.order-list {
    width: 100%;
    height: 300px;
    max-height: 300px; /* Вы можете настроить максимальную высоту по своему усмотрению */
    overflow-y: auto; /* Добавление вертикального скролла при необходимости */
}