body {
    user-select: none;
    font-family: Arial, sans-serif;
    background-color: #3694d1;
}
header{
    padding-left: 2%;
    padding-right: 2%;
    height:55px;
    align-items: center; /* Выравнивание по центру */
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}
.input-quantity{
    font-size: 25px;
    width: 60%;
}
.button-in-header{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 30px;
}
.main-container{
    margin-top: 0.5%;
    display: flex;
    justify-content: space-between;
}
.left {
    width: 59.5%;
    background-color: #043c61;
    border-radius: 8px;
    max-height: 100%;
    overflow-y: auto; /* Добавление вертикального скролла при необходимости */
}
.right {
    padding-top: 1%;
    width: 40%;
    max-height: 100%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру */
}
.child-block {
    float: left;
    width: 32%;
    height: 20%;
    margin-left: 1%;
    margin-top: 1%;
    overflow: hidden; /* Обрезка текста */
    text-overflow: ellipsis; /* Добавление многоточия при обрезке */
    white-space: normal; /* Разрешение переноса строки */
    font-size: 23px;

    background-color:#01d9a8;
    color: white;
    border-radius: 5px; /* Скругление углов */
    display: flex;
    align-items: center;
    justify-content: center;
}
.child-block-info{
    padding: 5%;
    text-align: left;
    font-size: 25px;
    overflow: hidden; /* Обрезка текста */
    text-overflow: ellipsis; /* Добавление многоточия при обрезке */
    white-space: nowrap; /* Разрешение переноса строки */
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Фиксированная ширина столбцов */
    border-radius: 16px;
}

.order-table-td {
    font-size: 22px;
    height: 35px;
    overflow: hidden;
    white-space: nowrap;
}
.button {
    color: white;
    border: none;
    padding: 3%;
    width: 98.5%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    background-color: #f9943c;
    font-size: 33px;
    border-radius: 5px; /* Скругление углов */
}
.remove-button{
    color: white;
    border: none;
    padding: 3%;
    width: 98.5%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    background-color: #3694d1;
    font-size: 20px;
    border-radius: 5px; /* Скругление углов */
}
.order-list {
    width: 100%;
    height: 450px; /* Вы можете настроить максимальную высоту по своему усмотрению */
    max-height: 450px; /* Вы можете настроить максимальную высоту по своему усмотрению */
    overflow-y: auto; /* Добавление вертикального скролла при необходимости */
}
