body {
    font-family: 'Rubik', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 5px;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 0px 0;
}

.category-name {
    padding: 5px;
    font-weight: bold;
    background-color: black;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    display: inline-block;
}

.main-category {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    gap: 10px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.category {
    margin-bottom: 20px;
}

.item-name {
    /* Add your styling for the item name here */
}

.item-price {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
