<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/adminEdit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="container-mo">
    <header>
        <div class="end">
            <div class="ends">
                <a href="/admin/items/add" class="btnchange">Добавить</a>
                <button class="btn-oko" onclick="saveChanges()">Изменить</button>
                <a href="/admin" class="btnchange">Выйти</a>
                <select id="sortBy" onchange="sortItems()">
                    <option value="categories">Категория</option>
                    <option value="alf">Алфавит</option>
                </select>
                <select id="categoryFilter" onchange="displayTable()">
                </select>
                <select id="viewFilter" onchange="displayTable()">
                    <option value="true">Виден</option>
                    <option value="false">Не виден</option>
                    <option selected value="null">Не выбрано</option>
                </select>
                <select id="typeFilter" onchange="displayTable()">
                    <option value="true">Кухня</option>
                    <option value="false">Бар</option>
                    <option selected value="null">Не выбрано</option>
                </select>
            </div>
        </div>
        <p id="messages"></p>
    </header>
    <div class="container-fo">
        <table id="table">
        </table>
    </div>
<script src="/js/ItemsTable.js"></script>
</body>
</html>
