<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/adminEdit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="container-mo">

<header>
    <div class="end">
        <div class="ends">
            <a href="/admin/stock" class="btnchange">Выйти</a>
        </div>
    </div>
</header>
<div class="container-fo">
    <table>
            <tr>
                <th>Название продукта</th>
                <th>Вес</th>
                <th>Цена</th>
                <th>Сумма</th>
                <th>Тип операции</th>
                <th>Время</th>
                <th>Описание</th>
                <th>Id заказа</th>
            </tr>

            <tr th:each="item, itemStat : ${form}">
                <td th:text="${item.getProduct().getName()}"></td>
                <td th:text="${item.getWeightToPage()}"></td>
                <td th:text="${item.getPriceToPage()}"></td>
                <td th:text="${item.getSumToPage()}"></td>
                <td th:text="${item.getTypeOfOperation()}"></td>
                <td th:text="${item.getDateOfOperation()}"></td>
                <td th:text="${item.getDescription()}"></td>
                <td th:if="${item.getOrderItems() != null}" th:text="${item.getOrderItems().getId()}"></td>
            </tr>
    </table>
</div>
</body>
</html>
