<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/adminEdit.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="container-mo">
<header>
  <div class="end">
    <ul class="nav-links">
      <li><a href="/admin/users">Пользователи</a></li>
      <li><a href="/admin/items">Товары</a></li>
      <li><a href="/admin/categories">Категории</a></li>
      <li><a href="/admin/units">Ед. измерения</a></li>
      <li><a href="/admin/products">Продукты</a></li>
      <li><a href="/admin/stock">Склад</a></li>

      <label for="startDate">От :</label>
      <input type="datetime-local" id="startDate" name="startDate" required>
      <label for="endDate">До :</label>
      <input type="datetime-local" id="endDate" name="endDate" required>
      <select id="reportType">
        <option value="OrderItems">Товары</option>
        <option value="Shifts">Смены</option>
        <option value="Orders">Заказы</option>
      </select>
      <button type="button" onclick="getItemsOnPage()">Показать отчёт</button>

      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти из аккаунта"/>
      </form>
    </ul>
  </div>
</header>
<div class="container-fo">
  <div>
  <h3>Сортировать по:</h3>

  <select id="sortBy" onchange="sortItems()">
  </select>
  </div>
  <table id="table">
  </table>
</div>
<script src="/js/Admin.js"></script>
</body>
</html>