<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/adminEdit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="container-mo">

<header>
    <div class="end">
        <div class="ends">
            <a href="/admin" class="btnchange">Выйти</a>
            <a href="/admin/stock/add" class="btnchange">Прибытие товара</a>
            <a href="/admin/stock/care" class="btnchange">Списание товара</a>
            <a href="/admin/stock/movement" class="btnchange">Движение товара</a>
                <label for="startDate">От :</label>
                <input type="date" id="startDate" name="startDate" required>
                <label for="endDate">До :</label>
                <input type="date" id="endDate" name="endDate" required>
            <button type="button" onclick="downloadExcel1()">Скачать отчёт1</button>
            <button type="button" onclick="downloadExcel2()">Скачать отчёт2</button>

        </div>
    </div>
</header>
<div class="container-fo">
    <table>
            <tr>
                <th>Название продукта</th>
                <th>Вес</th>
                <th>Цена</th>
            </tr>

            <tr th:each="item, itemStat : ${form}">
                <td th:text="${item.getProduct().getName()}"></td>
                <td th:text="${item.getWeightToPage()}"></td>
                <td th:text="${item.getPriceToPage()}"></td>
            </tr>
    </table>
</div>
<script src="/js/ExcelJs.js"></script>
</body>
</html>
