<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/adminEdit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="container-mo">
<form th:action="@{/admin/items}" th:object="${form}" method="post">
    <header>
        <div class="end">
            <div class="ends">
                <a href="/admin/items/add" class="btnchange">Добавить</a>
                <button class="btn-oko">Изменить</button>
                <a href="/admin" class="btnchange">Выйти</a>
            </div>
        </div>
    </header>
    <div class="container-fo">
        <table>
            <tr>
                <th>id</th>
                <th>Код</th>
                <th>Имя</th>
                <th>Цена</th>
                <th>Видимость</th>
                <th>Категория</th>
                <th>Ед. изм.</th>
                <th>Состав</th>
            </tr>
            <tr th:each="item, itemStat : ${form.items}">
                <td><input th:name="|items[${itemStat.index}].id|" th:value="${item.getId()}" readonly /></td>
                <td><input th:name="|items[${itemStat.index}].code|" th:value="${item.getCode()}" required/></td>
                <td><input th:name="|items[${itemStat.index}].nameOfItems|" th:value="${item.getNameOfItems()}" required/></td>
                <td><input type="number" step="0.01" th:name="|items[${itemStat.index}].priceToPage|" th:value="${item.getPriceToPage()}" required/></td>
                <td>
                    <select th:name="|items[${itemStat.index}].view|" required>
                        <option th:selected="${item.getView()}" th:value="true">Виден</option>
                        <option th:selected="!${item.getView()}" th:value="false">Не виден</option>
                    </select>
                </td>
                <td>
                    <select th:name="|items[${itemStat.index}].categories|" required>
                        <option th:each="categor: ${category}" th:value="${categor.getId()}"
                                th:text="${categor.getCategoriesName()}"
                                th:selected="${categor.getId()} == ${item.getCategories().getId()}"
                        ></option>
                    </select>
                </td>
                <td>
                    <select th:name="|items[${itemStat.index}].unit|" required>
                        <option th:each="unit: ${units}" th:value="${unit.getId()}"
                                th:text="${unit.getName()}"
                                th:selected="${unit.getId()} == ${item.getUnit().getId()}"
                        ></option>
                    </select>
                </td>
                <td><a th:href="'/admin/items/'+${item.getId()}" class="btnchange">Изменить</a></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>
