<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/adminUsersEdit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="container-mo">
<form th:action="@{/admin/items}" th:object="${form}" method="post">
    <header>
        <div class="end">
            <div class="ends">
                <a href="/admin/items/add" class="btnchange">Добавить</a>
                <button class="btn-oko">Изменить</button>
                <a href="/admin" class="btnchange">Выйти</a>
            </div>
        </div>
    </header>
    <div class="container-fo">
        <table>
            <tr>
                <th>id</th>
                <th>Код</th>
                <th>Имя</th>
                <th>Цена</th>
                <th>Категория</th>
            </tr>
            <tr th:each="item, itemStat : ${form.items}">
                <td><input th:name="|items[${itemStat.index}].id|" th:value="${item.getId()}" readonly /></td>
                <td><input th:name="|items[${itemStat.index}].code|" th:value="${item.getCode()}"/></td>
                <td><input th:name="|items[${itemStat.index}].nameOfItems|" th:value="${item.getNameOfItems()}"/></td>
                <td><input th:name="|items[${itemStat.index}].price|" th:value="${item.getPrice()}"/></td>
                <td><input th:name="|items[${itemStat.index}].category|" th:value="${item.getCategories().getCategoriesName()}"/></td>

            </tr>
        </table>
    </div>
</form>
<footer></footer>
</body>
</html>
