<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/adminEdit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="container-mo">

    <header>
        <div class="end">
            <div class="ends">
                <a href="/admin/items" class="btnchange">Выйти</a>
            </div>
        </div>
    </header>
    <div class="container-fo">
        <table>
            <form th:action="@{/admin/items/change/product_weight}" th:object="${form}" method="post">

                <button class="btn-oko">Изменить</button>

                <tr>
                    <th>Название продукта</th>
                    <th>Вес</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>

                <tr th:each="item, itemStat : ${form.productWeights}">
                    <input th:name="|productWeights[${itemStat.index}].id|" th:value="${item.getId()}" type="hidden" readonly />
                    <td>
                        <select th:name="|productWeights[${itemStat.index}].product|" required>
                            <option th:each="product: ${products}" th:value="${product.getId()}"
                                    th:text="${product.getName()}"
                                    th:selected="${product.getId()} == ${item.getProduct().getId()}"
                            ></option>
                        </select>
                    </td>
                    <td><input type="number" step="0.001" th:name="|productWeights[${itemStat.index}].weightToPage|" th:value="${item.getWeightToPage()}" required/></td>

                    <td th:text="${item.getPriceToPage()}">
                    </td>
                    <td th:text="${item.getSumToPage()}">
                    </td>
                    <input th:name="|productWeights[${itemStat.index}].item|" th:value="${items.getId()}" type="hidden" required/>
                </tr>
            </form>
            <tr>
                <th>Название продукта</th>
                <th>Вес</th>
                <th>Добавить</th>

            </tr>
            <form th:action="'/admin/items/'+${items.getId()}+'/add_product_weight'"  method="post">
            <tr>

                <td>
                    <select th:name="productAdd" required>
                        <option th:each="product: ${products}" th:value="${product.getId()}"
                                th:text="${product.getName()}"
                        ></option>
                    </select>
                </td>
                <td><input type="number" step="0.001" th:name="weightAdd" required/></td>
                <td><button class="btn-oko">Добавить</button></td>
            </tr>
            </form>
        </table>
        <table>
            <form th:action="@{/admin/items/change/items}" th:object="${form2}" method="post">
                <button class="btn-oko">Изменить</button>

                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Себестоимость</th>
                    <th>Сумма</th>
                </tr>

                <tr th:each="item2, itemStat : ${form2.itemsInItem}">
                    <input th:name="|itemsInItem[${itemStat.index}].id|" th:value="${item2.getId()}" type="hidden" readonly />
                    <td>
                        <select th:name="|itemsInItem[${itemStat.index}].item|" required>
                            <option th:each="itemOnPage: ${itemsToPage}" th:value="${itemOnPage.getId()}"
                                    th:text="${itemOnPage.getNameOfItems()}"
                                    th:selected="${itemOnPage.getId()} == ${item2.getItem().getId()}"
                            ></option>
                        </select>
                    </td>
                    <td><input type="number" step="1" th:name="|itemsInItem[${itemStat.index}].quantity|" th:value="${item2.getQuantity()}" required/></td>
                    <td th:text="${item2.getItem().priceOfAllProductsToPage()}"></td>
                    <td th:text="${item2.getSumToPage()}"></td>

                    <input th:name="|itemsInItem[${itemStat.index}].parentItem|" th:value="${items.getId()}" type="hidden" required/>
                </tr>
            </form>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Добавить</th>

            </tr>
            <form th:action="'/admin/items/'+${items.getId()}+'/add_item'"  method="post">
                <tr>

                    <td>
                        <select th:name="item" required>
                            <option th:each="itemOnPage: ${itemsToPage}" th:value="${itemOnPage.getId()}"
                                    th:text="${itemOnPage.getNameOfItems()}"
                            ></option>
                        </select>
                    </td>
                    <td><input type="number" step="1" th:name="quantity" required/></td>
                    <td><button class="btn-oko">Добавить</button></td>
                </tr>
            </form>
        </table>
    </div>
</body>
</html>
