<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/adminEdit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="container-mo">
<form th:action="@{/admin/items/add}"  method="post" enctype="multipart/form-data">
    <header>
        <div class="end">
            <div class="ends">
                <button class="btn-oko">Добавить</button>
                <a href="/admin/items" class="btnchange">Выйти</a>
            </div>
        </div>
    </header>
    <div class="container-fo">
        <table>
            <tr>
                <th>Имя</th>
                <th>Цена</th>
                <th>Видимость</th>
                <th>Тип</th>
                <th>Категория</th>
                <th>Ед. изм.</th>
                <th>Изображение</th>
            </tr>
            <tr >
                <td><input th:name="nameOfItems" required/></td>
                <td><input type="number" step="0.01" th:name="priceToPage" required/></td>

                <td>
                    <select th:name="view" required>
                        <option th:value="true">Виден</option>
                        <option th:value="false">Не виден</option>
                    </select>
                </td>
                <td>
                    <select th:name="typeOfItem" required>
                        <option th:value="true">Кухня</option>
                        <option th:value="false">Бар</option>
                    </select>
                </td>
                <td>
                    <select th:name="categories" required>
                        <option th:each="categor: ${category}" th:value="${categor.id}"
                            th:text="${categor.categoriesName}"
                        ></option>
                    </select>
                </td>
                <td>
                    <select th:name="unit" required>
                        <option th:each="unit: ${units}" th:value="${unit.getId()}"
                                th:text="${unit.getName()}"
                        ></option>
                    </select>
                </td>
                <td><input type="file" th:name="image"/></td>

            </tr>
        </table>
    </div>
</form>
</body>
</html>
