<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Кассовое приложение для кафе</title>
    <link rel="stylesheet" href="/css/CashRegister.css"> </head>

<body>
<header> <span th:text="${#authentication.principal.name}"></span> <button class="button-settings" id="settings-button">&#9881;</button> </header>
<div class="main-conteiner">
    <div class="left" id="leftContainer">
    </div>
    <div class="right">
        <div class="order-list">
            <table>
                <tbody id="order-items"> </tbody>
            </table>
        </div>
        <h3 class="total" id="total">0</h3>
        <!-- Добавленная кнопка -->
        <label>
        <input type="radio" name="payment" value="cash" checked> Наличные
    </label> <label>
        <input type="radio" name="payment" value="card"> Карта
    </label>

        <button type="button" onclick="submitOrder()" class="button">Оплатить</button>
        <!-- Улучшенная кнопка оплаты -->
    </div>
</div>
<script src="/js/CashRegister.js"></script>
</body>

</html>