<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кассовое приложение для кафе</title>
    <link rel="stylesheet" href="/css/CashRegister.css">
</head>
<body>
    <div class="left">
        <h1>Выбор товаров</h1>
        
        <div class="category drinks" onclick="toggleCategory('drinks')">Напитки</div>
        <div class="products" id="drinks">
            <div class="product" onclick="addProduct('Кофе', 2.5)">
                <img src="coffee.jpg" alt="Кофе">
                <div class="product-info">
                    <h3>Кофе</h3>
                    <p>Цена: $2.5</p>
                </div>
            </div>
            <div class="product" onclick="addProduct('Чай', 1.8)">
                <img src="tea.jpg" alt="Чай">
                <div class="product-info">
                    <h3>Чай</h3>
                    <p>Цена: $1.8</p>
                </div>
            </div>
        </div>
        
        <div class="category pizza" onclick="toggleCategory('pizza')">Пицца</div>
        <div class="products" id="pizza">
            <div class="product" onclick="addProduct('Пицца Пепперони', 12.0)">
                <img src="pizza.jpg" alt="Пицца">
                <div class="product-info">
                    <h3>Пицца Пепперони</h3>
                    <p>Цена: $12.0</p>
                </div>
            </div>
            <!-- Добавьте другие товары в категории здесь -->
        </div>
    </div>

    <div class="right">
        <h1>Заказ</h1>
         <div class="order-list">
        <table>
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody id="order-items">
            </tbody>
        </table>
               </div>
        <h3 class="total">Итого: <span id="total">0</span></h3>
        <button type="button" onclick="clearOrder()" class="button">Очистить корзину</button> <!-- Добавленная кнопка -->
        <h2>Выберите способ оплаты:</h2>
        <label>
            <input type="radio" name="payment" value="cash" checked> Наличные
        </label>
        <label>
            <input type="radio" name="payment" value="card"> Карта
        </label>
        <button type="button" onclick="submitOrder()" class="button">Оплатить</button> <!-- Улучшенная кнопка оплаты -->
    </div>
    <script src="/js/CashRegister.js"></script>
</body>
</html>
