<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кассовое приложение для кафе</title>
    <link rel="stylesheet" href="/css/CashRegisterMain.css">
    <link rel="stylesheet" href="/css/CashRegisterSettings.css">
    <link rel="stylesheet" href="/css/SumInputForm.css">
    <link rel="stylesheet" href="/css/CashRegisterPay.css">
    <link rel="stylesheet" href="/css/CashRegisterCheck.css">

</head>

<body>
<header>
    <span th:text="${#authentication.principal.name}"></span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
    <p id="messages"></p>
        <h4>Номер стола</h4>
        <input id="table-number" type="number" step="1" value="0" onchange="setTableNumber(this.value)"/>
    <div id="buttons-head"> </div>
</header>
<div id="main-container" class="main-container">
</div>

<script src="/js/CashRegister.js"></script>
</body>

</html>